{% extends "layout/basic.html" %}

{#{% load bootstrap4 %}#}

{% block title %}Изменение тренировки - Профиль пользователя{% endblock %}

{% block content %}
<h2>Изменение тренировки</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
{#    {% bootstrap_form form layout='horizontal' %}#}
{#    {% bootstrap_formset formset layout='horizontal' %}#}
{#    {% buttons submit='Сохранить' %}{% endbuttons %}#}
{% if buttons %}
        <button name="submit" class='btn btn-primary'>'Сохранить'</button>
    {% endif%}
</form>
{% endblock %}