{% extends "layout/basic.html" %}

{#{% load bootstrap4 %}#}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация нового пользователя</h2>
<form method="post">
    {% csrf_token %}
{#    {% bootstrap_form form layout='horizontal' %}#}
{#    {% buttons submit='Зарегистрироваться' %}#}

{#    {% endbuttons %}#}
    {% if buttons %}
        <button name="submit" class='btn btn-primary'>'Зарегистрироваться'</button>
    {% endif%}
{#<p style="text-align: center" ><button>Зарегистрироваться</button>#}
</form>
{% endblock %}
